server-url = "{{ graylog_server }}:{{ graylog_server_port }}"
enable-registration = {{ graylog_enable_registration }}
collector-id = "{{ graylog_collector_id }}"

{% for input in graylog_inputs %}
inputs {
  {{ input.inputs_name }} {
    type = "{{ input.inputs_type }}"
    path-glob-root = "{{ input.path_glob_root }}"
    path-glob-pattern = "{{ input.path_glob_pattern }}"
    content-splitter = "{{ input.content_splitter }}"
    content-splitter-pattern = "{{ input.content_splitter_pattern }}"
  }
}
{% endfor %}

{% for output in graylog_outputs %}

outputs {

{% endfor %}
